/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/11/2016, 21:06:27
    Author     : Gustavo
*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}*/
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.bg-color1{
    background-color: #473E35;
}
.bg-color2{
    background-color: #3C2E2B;
}

.bg-color3{
    background-color: #834633;
}

.bg-color4{
    background-color: #F2DDC2;
}

.bg-color5{
    background-color: #322423;
}

.border-top-color1{
    border-top: 3px solid #473E35;
}

.border-bottom-color1_2{
    position: relative;
    border-bottom: 5px solid #3C2E2B;
    outline: 3px solid #473E35;
}