/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/11/2016, 21:06:27
    Author     : Gustavo
*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}*/
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.padded-top-sml {
    padding-top: 5px;
}

.padded-top-md{
    padding-top: 15px;
}

.tci_form{
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer p{
    color: #E8DDCB
}

.bg-color1{
    background-color: #E8DDCB;
}
.bg-color2{
    background-color: #CDB380;
}

.bg-color3{
    background-color: #036564;
}

.bg-color4{
    background-color: #033649;
}

.bg-color5{
    background-color: #031634;
}

.border-color-1 {
    border: 2px solid #E8DDCB;
}

.border-top-color3{
    border-top: 3px solid #036564;
}

.border-bottom-color3_4{
    position: relative;
    border-bottom: 5px solid #033649;
    outline: 3px solid #036564;
}

#content_container {
    margin-top: 30px;
}

.svg {
    width: 40px;
    height: 40px;
    fill: #fff;
    background-color: #036564;
    border-radius: 5px;
    padding: 5px;
    transition: fill .3s ease-out;
}

.svg:hover {
    fill: #E8DDCB;
}

.navbar .nav > li > a {
  line-height: 40px;
}

.border-radius {
    border-radius: 5px;
}

.margin-sml{
    margin: 5px;
}

.padded-sml {
    padding: 5px;
}

.padded-md {
    padding: 10px;
}

.boxed{
    background-color: #E8DDCB;
    border: 2px solid #CDB380;
}

.itemrow{
    margin: 0 .9em;
}

.col-divider {
    border-left: 1px solid #CDB380;
    padding-left: 1.8em;
}

.h4-line {
    border-bottom: 1px solid #CDB380; 
}

.h-border h3 {
    padding-bottom: 3px;
    border-bottom: 1px solid #E6E6E6
}

.estado_minuta, .estado_classificado, .estado_desclassificado {
    display: none;
}

.force-width {
    width: 100% !important;
}

.tci-cls{
    background-color: #E0E4CD;
}

.tci-dcls{
    background-color: #69D2E7;
}

.tci-prrdz{
    background-color: #E0E4CD;
}

.tci-rcls{
    background-color: #E0E4CD;
}

.tci-prgd{
    background-color: #FA6900;
}

#tci-form {
    display: none;
}